@{
    var error = TempData["Error"] as string;
    Layout = "~/Views/Shared/CodefoxLayout.cshtml";
}

 @*Content Column*@ 
<style>
    .sscroll {
        overflow: auto;
    }
</style>

<section class="section">
    <div class="container-fluid">
        <div class="page-title-box">
            <h3 class="m-0 font-weight-bold text-primary">Orders / TUB Inquiry</h3><br />
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content pt-2" id="">
                            <div class="tab-pane fade show active sscroll" id="" role="tabpanel">
                                <table class="table table-sm text-sm nowrap w-100 table-bordered table-striped" id="oidItems">
                                    <thead>
                                        <tr>
                                            <th style="white-space: nowrap; color: blue;">Order ID</th>
                                            <th style="white-space: nowrap; color: blue;">Module</th>
                                            <th style="white-space: nowrap; color: blue;">Total Order Items</th>
                                            <th style="white-space: nowrap; color: blue;">Total Amount</th>
                                            <th style="white-space: nowrap; color: blue;">Status</th>
                                            <th style="white-space: nowrap; color: blue;">Date Created</th>
                                            <th style="white-space: nowrap; color: blue;">Picker User</th>
                                            <th style="white-space: nowrap; color: blue;">Boxer User</th>
                                            <th style="white-space: nowrap; color: blue;">Picking Start Time</th>
                                            <th style="white-space: nowrap; color: blue;">Picking End Time</th>
                                            <th style="white-space: nowrap; color: blue;">Boxer Start Time</th>
                                            <th style="white-space: nowrap; color: blue;">Boxer End Time</th>
                                            <th style="white-space: nowrap; color: blue;">Tub No</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <center><div id="loader">Loading...</div></center>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<div id="itemModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="overlay" id="addedit-modal-overlay" hidden>
                <span class='spinner-border spinner-border-md'></span>
            </div>
            <div class="modal-header bg-primary border-bottom">
                <h4 class="modal-title" id="addedit-modalLabel" style="color:white">Order Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card-header py-3">

                <span id="itemsOrderIdHeader" style="display:none"></span>
                <h5 class="m-0 font-weight-bold text-primary" id="itemsTxtHeader"></h5>
                <h5 class="m-0 font-weight-bold text-primary" id="customerTxtHeader"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="sortable table table-bordered table-responsive-md table-hover" id="listOfItems" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">SKU</th>
                                    <th style="white-space: nowrap;">Item Image</th>
                                    <th style="white-space: nowrap;">Item Name</th>
                                    <th style="white-space: nowrap;">Order Date</th>
                                    <th style="white-space: nowrap;">Exception</th>
                                    <th style="white-space: nowrap;">Platform Status</th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th>Price</th>
                                    @*<th style="white-space: nowrap;" class="selectAllCheck">
                                        <input type="checkbox" value="D" id="selectAllMaster" />
                                        <label for="SelectAll">
                                        Select All
                                        </label>
                                        </th>*@
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr class="text-right" style="font-size: 22px;font-weight: 800;">
                                    <td colspan="6">Grand Total: </td>
                                    <td colspan="1" style="text-align: center;color:red;" id="trn_grand_total">₱<span id="txtTotalPrice"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-light" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            </div>

        </div>
    </div>
</div>

<div id="itemModalTub" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="itemModalTub" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="overlay" id="addedit-modal-overlay" hidden>
                <span class='spinner-border spinner-border-md'></span>
            </div>
            <div class="modal-header bg-primary border-bottom">
                <h4 class="modal-title" id="addedit-modalLabel" style="color:white">Tub History</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="sortable table table-bordered table-responsive-md table-hover" id="listOfTubs" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">Order ID</th>
                                    <th style="white-space: nowrap;">Date</th> @*DateProcess*@
                                    <th style="white-space: nowrap;">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-light" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            </div>

        </div>
    </div>
</div>

<div id="divFetchItem" data-request-url="@Url.Action("GetOrderItemDetails", "Token")"></div>
<div id="divFetchTub" data-request-url="@Url.Action("GetTubHistory", "OIDTubInquiry")"></div>

@section Scripts {


    <script src="@Url.Content("~/Scripts/OIDTubInquiry.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/DataTables-1.11.5/js/dataTables.jqueryui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/jquery.validate/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/Buttons-2.2.2/js/dataTables.buttons.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/Buttons-2.2.2/js/buttons.html5.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/pdfmake-0.1.36/pdfmake.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/pdfmake-0.1.36/vfs_fonts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/JSZip-2.5.0/jszip.min.js")" type="text/javascript"></script>

}
<link href="~/css/user.css" rel="stylesheet" type="text/css" />
<link href="~/lib/dataTables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/lib/dataTables/DataTables-1.11.5/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css" />
@*<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
<link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
