@model SNR_BGC.Models.TokenClass;
@{

    Layout = "~/Views/Shared/CodefoxLayout.cshtml";
}
<!-- Content Column -->
<div class="container-fluid">
    <div class="col-lg-12 mb-4">
        <div class="page-title-box">
            <h3 class="m-0 font-weight-bold text-primary">LAZADA ORDERS</h3><br />
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="widget-rounded-circle card bg-purple shadow-none">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <span class="logo-lg">
                                    <img src="~/img/lazada-symbol.png" alt="" height="70">
                                </span>
                            </div>
                            <div class="col-6">
                                <div class="text-end">
                                    <h2 class="text-white mt-2"><span data-plugin="counterup" id="totalOrdersCountLazada">0</span></h2>
                                    <p class="text-white mb-0 text-truncate">Total Orders</p>
                                </div>
                            </div>
                        </div> <!-- end row-->
                    </div>
                </div> <!-- end widget-rounded-circle-->
            </div> <!-- end col-->
            <div class="col-md-6 col-xl-3">
                <div id="divdateFromLazada">

                    Date Time From: <input class="form-control lazadaDate" id="dateFromLazada" type="datetime-local" data-val="true" />
                </div> 
                <div id="divdateToLazada">

                    Date Time To: <input class="form-control lazadaDate" id="dateToLazada" type="datetime-local" data-val="true" />
                </div>


            </div> <!-- end col-->

        </div>




        <!-- Project Card Example -->
        <div class="card card-primary card-outline">
            <div class="card-body">

                <div class="row mt-2">
                    <div class="col-8">

                        <ul class="nav nav-tabs nav-tabs-bordered" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link w-100 active" id="withoutExcepTab" data-bs-toggle="tab" type="button" role="tab" aria-controls="home" aria-selected="true">Cleared for Picking</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link w-100" id="withExcepTab" data-bs-toggle="tab" type="button" role="tab" aria-controls="home">With Exception</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link w-100" id="pickingOrders" data-bs-toggle="tab" type="button" role="tab" aria-controls="home">Currently Picking</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link w-100" id="forBoxingTab" data-bs-toggle="tab" type="button" role="tab" aria-controls="home">For Packing</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link w-100" id="forCurrentlyPacking" data-bs-toggle="tab" type="button" role="tab" aria-controls="home">Currently Packing</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link w-100" id="toPOSTab" data-bs-toggle="tab" type="button" role="tab" aria-controls="home">For Delivery</button>
                            </li>


                        </ul>

                    </div>
                    <div class="col-12 ">
                        <ul class="nav nav-tabs border-0 justify-content-end" id="myTabShopee" role="tablist">
                            <li style=" display:none;" id="liReportsLazada">

                                @* <a class="btn btn-primary" href='@Url.Action("PrintReport", "Token",new { categ = "OOS" })' target="_blank">OOS REPORTS</a>
                                <a class="btn btn-primary" href='@Url.Action("PrintReport", "Token",new { categ = "NIB" })' target="_blank">NIB REPORTS</a>*@
                                @*  <a class="btn btn-success" onclick="reProcess()">Re-Process</a>*@
                                @*<a class="btn btn-primary" href='@Url.Action("PrintReport", "Shopee",new { categ = "SKU" })' target="_blank">SKU REPORTS</a>
                                <a class="btn btn-primary" href='@Url.Action("PrintReport", "Shopee",new { categ = "PRC" })' target="_blank">PRICE REPORTS</a>*@
                                @*<button type="button" class="btn btn-primary" onclick="printReportLazada()">PRINT REPORTS</button>*@
                            </li>
                        </ul>
                    </div>
                </div>

                <hr class="mt-0 pt-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mb-2 align-items-md-center">
                            <button type="button" class="btn btn-light btn-m waves-effect" id="btnGetOrders" onclick="getLazadaOrders()"><span class="fas fa-plus"></span> GET ORDERS</button>
                            <button type="button" class="btn btn-light btn-m waves-effect" id="btn_edit_user" onclick="reProcess()"><span class="fas fa-edit"></span> RE-PROCESS</button>
                            @*  <button type="button" class="btn btn-light btn-m waves-effect" id="btn_refresh_user"><span class="fas fa-sync"></span> Refresh</button>*@

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-2 align-items-md-center">
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm text-sm nowrap w-100 table-bordered table-striped" id="LazadaOrderTable">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap; color: blue;">ORDER ID</th>
                                    <th style="white-space: nowrap; color: blue;">ORDER DATE</th>
                                    <th style="white-space: nowrap; color: blue;">TOTAL ITEMS</th>
                                    <th style="white-space: nowrap; color: blue;">NO. OF EXECPTIONS</th>
                                    <th style="white-space: nowrap; color: blue;">TYPE OF EXECPTIONS</th>
                                    <th style="white-space: nowrap; color: blue;">TOTAL AMOUNT</th>
                                    <th style="white-space: nowrap; color: blue;">PICKER USERNAME</th>
                                    <th style="white-space: nowrap; color: blue;">PACKER USERNAME</th>

                                    <th style="white-space: nowrap; color: blue;">TUB NO.</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody class="text-center">
                            </tbody>
                        </table>
                        @*
                        <button type="button" class="btn btn-primary btn-form-action" id="btn-save" onclick="clickPrintExcel('print')"><i class="bi bi-printer-fill"></i> Print</button>
                        <button type="button" class="btn btn-primary btn-form-action" id="btn-save" onclick="clickPrintExcel('excel')"><i class="fa fa-download"></i> Download</button>*@
                    </div>
                </div>
            </div>
        </div>

    </div>



    <br />
</div>



@*modal for item user*@
<button type="button" class="btn btn-primary" id="itemModalBtn" style="display:none;" data-toggle="modal" data-target="#itemModal">
</button>


<div id="itemModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="itemModal" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="overlay" id="addedit-modal-overlay" hidden>
                <span class='spinner-border spinner-border-md'></span>
            </div>
            <div class="modal-header bg-primary border-bottom">
                <h4 class="modal-title" id="addedit-modalLabel" style="color:white">Order Details</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="card-header py-3">

                <span id="itemsOrderIdHeader" style="display:none"></span>
                <h5 class="m-0 font-weight-bold text-primary" id="itemsTxtHeader"></h5>
                <h5 class="m-0 font-weight-bold text-primary" id="customerTxtHeader"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="sortable table table-bordered table-responsive-md table-hover" id="listOfItems" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">SKU</th>
                                    <th style="white-space: nowrap;">Item Image</th>
                                    <th style="white-space: nowrap;">Item Name</th>
                                    <th style="white-space: nowrap;">Order Date</th>
                                    <th style="white-space: nowrap;">Exception</th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th>Price</th>
                                    @*<th style="white-space: nowrap;" class="selectAllCheck">
                                    <input type="checkbox" value="D" id="selectAllMaster" />
                                    <label for="SelectAll">
                                    Select All
                                    </label>
                                    </th>*@
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr class="text-right" style="font-size: 22px;font-weight: 800;">
                                    <td colspan="6">Grand Total: </td>
                                    <td colspan="1" style="text-align: center;color:red;" id="trn_grand_total">₱<span id="txtTotalPrice"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-light" data-bs-dismiss="modal"><i class="fas fa-times"></i> Close</button>

            </div>

        </div>
    </div>
</div>


@*<div class="modal fade bd-example-modal-lg" id="itemModal" tabindex="-1" style="display:none;" data-toggle="modal">
    <div class="modal-dialog-centered modal-dialog-scrollable modal-dialog modal-lg" role="document">
        <div class="modal-content" style="width:130%;">
            <div class="modal-header modal-header-primary text-center">
                <h5 class="modal-title">Order Item!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br />
            <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">

                    <input type="text" id="itemUserList" class="form-control bg-light small" placeholder="Search for User..."
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button onclick="fetchAD()" class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form><br />
            <div class="card shadow mb-4" style="overflow-y:auto !important;">
                <div class="card-header py-3">
                    <span id="itemsOrderIdHeader" style="display:none"></span>
                    <h5 class="m-0 font-weight-bold text-primary" id="itemsTxtHeader"></h5>
                    <h5 class="m-0 font-weight-bold text-primary" id="customerTxtHeader"></h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="sortable table table-bordered table-responsive-md table-hover" id="listOfItems" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">SKU</th>
                                    <th style="white-space: nowrap;">Item Image</th>
                                    <th style="white-space: nowrap;">Item Name</th>
                                    <th style="white-space: nowrap;">Order Date</th>
                                    <th style="white-space: nowrap;">Exception</th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th>Price</th>
                                    <th style="white-space: nowrap;" class="selectAllCheck">
                                        <input type="checkbox" value="D" id="selectAllMaster" />
                                        <label for="SelectAll">
                                            Select All
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr class="text-right" style="font-size: 22px;font-weight: 800;">
                                    <td colspan="6">Grand Total: </td>
                                    <td colspan="1" style="text-align: center;color:red;" id="trn_grand_total">₱<span id="txtTotalPrice"></span></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="lazadaMtpBtn" style="display:none" onclick="moveTopickerAlert()">Move to Picker</button>
                <button type="button" class="btn btn-primary" id="lazadaMtpCloseBtn" style="display:none" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

*@
<button type="button" class="btn btn-primary" id="successModalBtnLazada" style="display:none;" data-toggle="modal" data-target="#successModalLazada">
</button>
<div class="modal fade" style="z-index: 999999999999999;" id="successModalLazada" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary text-center">
                <h5 class="modal-title" id="exampleModalLongTitleLazada"></h5>
                <button type="button" class="close" onclick="Reload()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" style="font-size:larger;" id="successModalDivLazada">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Reload()" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary" id="moveToPickerModalBtnLazada" style="display:none;" data-toggle="modal" data-target="#moveToPickerModalLazada">
</button>
<div class="modal fade" style="z-index: 999999999999999 !important; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgb(180 180 181); " id="moveToPickerModalLazada" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitlemoveToPicker" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary text-center">
                <h5 class="modal-title" id="exampleModalLongTitlemoveToPicker"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" style="font-size:larger;" id="moveToPickerModalDivLazada">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="moveTopicker()" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row" id="ordersDiv">
</div>
<div id="divFetchOrder" data-request-url="@Url.Action("GetOrders", "Token")"></div>
<div id="divViewOrders" data-request-url="@Url.Action("ViewOrders", "Token")"></div>
<div id="divFetchItem" data-request-url="@Url.Action("GetItemLazada", "Token")"></div>
<div id="divSaveTrans" data-request-url="@Url.Action("SaveTransaction", "Token")"></div>
<div id="divPrintReports" data-request-url="@Url.Action("PrintReport", "Token")"></div>
<div id="divMoveToPicker" data-request-url="@Url.Action("MoveToPicker", "Token")"></div>
<div id="divReProcess" data-request-url="@Url.Action("GetOrdersReprocess", "Token")"></div>
<!-- Content Row -->
@section Scripts {

    <script>
        $('#tubCol').hide();
        $('#myTab li button').click(function () {
            var t = $(this).attr('id');

            if (t == "withoutExcepTab") {
                viewLazadaOrders('good')
                $('#withoutExcepTab').addClass('active');
                $('#withoutExcepTab').addClass('btn-primary');
                $("#liReportsLazada").hide()

                $("#withExcepTab").removeClass('active');
                $('#withExcepTab').removeClass('btn-primary');

                $("#pickingOrders").removeClass('active');
                $('#pickingOrders').removeClass('btn-primary');

                $("#forBoxingTab").removeClass('active');
                $('#forBoxingTab').removeClass('btn-primary');

                $("#toPOSTab").removeClass('active');
                $('#toPOSTab').removeClass('btn-primary');

                $('#forCurrentlyPacking').removeClass('active');
                $('#forCurrentlyPacking').removeClass('btn-primary');

                $('#btnGetOrders').show();
                $('#divdateFromLazada').show();

                $('#divdateToLazada').show();
            }
            else if (t == "withExcepTab") {
                viewLazadaOrders('bad')
                $('#withExcepTab').addClass('active');
                $('#withExcepTab').addClass('btn-primary');
                $("#liReportsLazada").show()

                $('#withoutExcepTab').removeClass('btn-primary');
                $("#withoutExcepTab").removeClass('active');


                $("#pickingOrders").removeClass('active');
                $('#pickingOrders').removeClass('btn-primary');

                $("#forBoxingTab").removeClass('active');
                $('#forBoxingTab').removeClass('btn-primary');

                $("#toPOSTab").removeClass('active');
                $('#toPOSTab').removeClass('btn-primary');

                $('#forCurrentlyPacking').removeClass('active');
                $('#forCurrentlyPacking').removeClass('btn-primary');

                $('#btnGetOrders').show();
                $('#divdateFromLazada').show();

                $('#divdateToLazada').show();
            }

            else if (t == "pickingOrders") {
                viewLazadaOrders('pickingOrders')
                $('#pickingOrders').addClass('active');
                $('#pickingOrders').addClass('btn-primary');
                $("#liReportsLazada").show()

                $('#withoutExcepTab').removeClass('btn-primary');
                $("#withoutExcepTab").removeClass('active');


                $("#withExcepTab").removeClass('active');
                $('#withExcepTab').removeClass('btn-primary');

                $("#forBoxingTab").removeClass('active');
                $('#forBoxingTab').removeClass('btn-primary');

                $("#toPOSTab").removeClass('active');
                $('#toPOSTab').removeClass('btn-primary');

                $('#forCurrentlyPacking').removeClass('active');
                $('#forCurrentlyPacking').removeClass('btn-primary');

                $('#btnGetOrders').hide();
                $('#divdateFromLazada').hide();

                $('#divdateToLazada').hide();
            }

            else if (t == "forBoxingTab") {
                viewLazadaOrders('forBoxingTab')
                $('#forBoxingTab').addClass('active');
                $('#forBoxingTab').addClass('btn-primary');
                $("#liReportsLazada").show()

                $('#withoutExcepTab').removeClass('btn-primary');
                $("#withoutExcepTab").removeClass('active');


                $("#withExcepTab").removeClass('active');
                $('#withExcepTab').removeClass('btn-primary');

                $("#pickingOrders").removeClass('active');
                $('#pickingOrders').removeClass('btn-primary');

                $("#toPOSTab").removeClass('active');
                $('#toPOSTab').removeClass('btn-primary');

                $('#forCurrentlyPacking').removeClass('active');
                $('#forCurrentlyPacking').removeClass('btn-primary');

                $('#btnGetOrders').hide();
                $('#divdateFromLazada').hide();

                $('#divdateToLazada').hide();
            }

            else if (t == "toPOSTab") {
                viewLazadaOrders('toPOSTab')
                $('#toPOSTab').addClass('active');
                $('#toPOSTab').addClass('btn-primary');
                $("#liReportsLazada").show()

                $('#withoutExcepTab').removeClass('btn-primary');
                $("#withoutExcepTab").removeClass('active');


                $("#withExcepTab").removeClass('active');
                $('#withExcepTab').removeClass('btn-primary');

                $("#pickingOrders").removeClass('active');
                $('#pickingOrders').removeClass('btn-primary');

                $("#forBoxingTab").removeClass('active');
                $('#forBoxingTab').removeClass('btn-primary');

                $('#forCurrentlyPacking').removeClass('active');
                $('#forCurrentlyPacking').removeClass('btn-primary');

                $('#btnGetOrders').hide();
                $('#divdateFromLazada').hide();

                $('#divdateToLazada').hide();
            }
            else if (t == "forCurrentlyPacking") {
                viewLazadaOrders('forCurrentlyPacking')
                $('#forCurrentlyPacking').addClass('active');
                $('#forCurrentlyPacking').addClass('btn-primary');
                $("#liReportsLazada").show()

                $('#toPOSTab').removeClass('btn-primary');
                $("#toPOSTab").removeClass('active');

                $('#withoutExcepTab').removeClass('btn-primary');
                $("#withoutExcepTab").removeClass('active');


                $("#withExcepTab").removeClass('active');
                $('#withExcepTab').removeClass('btn-primary');

                $("#pickingOrders").removeClass('active');
                $('#pickingOrders').removeClass('btn-primary');

                $("#forBoxingTab").removeClass('active');
                $('#forBoxingTab').removeClass('btn-primary');

                $('#btnGetOrders').hide();
                $('#divdateFromLazada').hide();

                $('#divdateToLazada').hide();
            }
        });
        $("#ribbonTag").text("Lazada Orders");
        $(".lazadaDate").val(getCurrDateTime())
    </script>

    <script src="@Url.Content("~/Scripts/Token.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/DataTables-1.11.5/js/dataTables.jqueryui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/jquery.validate/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/Buttons-2.2.2/js/dataTables.buttons.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/Buttons-2.2.2/js/buttons.html5.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/pdfmake-0.1.36/pdfmake.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/pdfmake-0.1.36/vfs_fonts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/JSZip-2.5.0/jszip.min.js")" type="text/javascript"></script>
    @* <script src="~/Scripts/User.js" type="text/javascript"></script>*@


    <link href="~/lib/dataTables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/dataTables/DataTables-1.11.5/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css" />


}
