@{
    var error = TempData["Error"] as string;
    Layout = "~/Views/Shared/CodefoxLayout.cshtml";
}


<!-- Content Column -->

<style>
    .dataTables_filter {
        display: none;
    }
</style>

<section class="section">
    <div class="container-fluid">
        <div class="page-title-box">
            <h3 class="m-0 font-weight-bold text-primary">Runner Inquiry</h3><br />
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content pt-2" id="">
                            <div class="col-md-2" style="display: inline-block">
                                <select id="selectRunner" class="form-select" onchange="SelectRunner()">
                                    <option value="" disabled selected hidden>Select Runner...</option>
                                </select>
                            </div>
                            <div style="display: inline-block">
                                <button id="clearButton" class="btn btn-primary" style="display: inline-block" onclick="ClearRunnerUser()" disabled>Clear</button>
                            </div>
                            <div class="col-md-2" style="display: inline-block; float:right">
                                <input type="text" id="searchInput" placeholder="Search..." class="form-control" style="background-color: white !important">
                            </div>


                            <div class="tab-pane fade show active" id="" role="tabpanel">


                                <table class="table table-sm text-sm nowrap w-100 table-bordered table-striped" id="runnerList">
                                    <thead>
                                        <tr>
                                            <th style="white-space: nowrap; color: blue;">Order ID</th>
                                            <th style="white-space: nowrap; color: blue;">Module</th>
                                            <th style="white-space: nowrap; color: blue;">SKU</th>
                                            <th style="white-space: nowrap; color: blue;">Description</th>
                                            <th style="white-space: nowrap; color: blue;">Start Time</th>
                                            <th style="white-space: nowrap; color: blue;">Runner</th>
                                            <th style="white-space: nowrap; color: blue;">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <center><div id="loader">Loading...</div></center>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div id="clearModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="clearModal" aria-hidden="true">
    <div class="modal-dialog modal-xl"  style="width: 500px; margin-top: 10%;">
        <div class="modal-content">
           
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive">
                        <label id="clearModalLabel" style="font-weight: bold; font-size: 16px;"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-light close" data-bs-dismiss="modal"><i class="fas fa-times"></i> Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="ClearProceed()"><i class="fas fa-check"></i> Clear</button>

            </div>

        </div>
    </div>
</div>

@section Scripts {


    <script src="@Url.Content("~/Scripts/RunnerStatus.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/DataTables-1.11.5/js/dataTables.jqueryui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/jquery.validate/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/Buttons-2.2.2/js/dataTables.buttons.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/Buttons-2.2.2/js/buttons.html5.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/pdfmake-0.1.36/pdfmake.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/pdfmake-0.1.36/vfs_fonts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/lib/dataTables/JSZip-2.5.0/jszip.min.js")" type="text/javascript"></script>

}
<link href="~/css/user.css" rel="stylesheet" type="text/css" />
<link href="~/lib/dataTables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="~/lib/dataTables/DataTables-1.11.5/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css" />
@*<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">*@
<link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
